---
import Layout from '../layouts/Layout.astro';
import ResumeContent from '../components/ResumeContent.astro';
---

<Layout title = "Bobby Martin Resume">
    <div class="mx-auto md:container mb-6 p-6 lg:p-[1in] border-2 dark:border-gray-500">
        <ResumeContent />
    </div>
</Layout>