---
import LayoutRaw from '../layouts/LayoutRaw.astro';
import ResumeContent from '../components/ResumeContent.astro';
---

<LayoutRaw title = "Bobby Martin Resume">
    <div class="print:p-[.5in]">
        <ResumeContent />
    </div>
</LayoutRaw>