---
// Import Fonts & Icons (npm packages)
import '@fontsource/fraunces'; // header text
import '@fontsource/poppins'; // body text
import 'bootstrap-icons/font/bootstrap-icons.css';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Bobby Martin: Portfolio',
	description = 'Portfolio website for developer Bobby Martin',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
