---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
// import Footer from '../components/Footer.astro';

// to have top level get dark mode
import ThemeToggle from '../components/ThemeToggle.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<!-- Material Design recommended background color for dark theme -->
		<div class="bg-white dark:bg-[#121212]"> 
			<Nav />
			<slot />
			<!-- <Footer /> -->
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>
	</body>
</html>
