---
import MainHead from '../components/MainHead.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<!-- Base head component -->
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body class="bg-white dark:bg-[#23262d]">
		<slot />
	</body>
</html>
<style is:global>
	h1, h2, h3, h4, h5 {
		font-family: "fraunces";
	}
	@media print {
		html {
			font-size: 12px;
		}
	}
</style>