---

import Nav from '../components/Nav.astro';
import MainHead from '../components/MainHead.astro';

// import '@fontsource/quattrocento';
// import '@fontsource/questrial';
import '@fontsource/fraunces'; // header text
import '@fontsource/poppins'; // body text

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<!-- Base head component -->
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body class="bg-white dark:bg-[#23262d]">
		<Nav />
		<slot />
	</body>
</html>
<style is:global>
	h1, h2, h3, h4, h5 {
		font-family: "fraunces";
	}

	@media print {
		h1, h2, h3, h4, h5 {
		font-family: "fraunces";
		}
	}
	
</style>